In [66]:
# Import libraries
import face_recognition
import os, sys
import random

In [37]:
# Load test images
image_mother_yes = face_recognition.load_image_file('/Users/b.saintot/face_recog/data/KinFaceW-I/images/mother-dau/md_001_1.jpg')
image_mother_no = face_recognition.load_image_file('/Users/b.saintot/face_recog/data/KinFaceW-I/images/mother-dau/md_002_1.jpg')
image_daughter = face_recognition.load_image_file('/Users/b.saintot/face_recog/data/KinFaceW-I/images/mother-dau/md_001_2.jpg')

In [38]:
# Encode test images
image_mother_yes_enc = face_recognition.face_encodings(image_mother_yes)[0]
image_mother_no_enc = face_recognition.face_encodings(image_mother_no)[0]
image_daughter_enc = face_recognition.face_encodings(image_daughter)[0]

In [39]:
# Print first encoded test image
print(image_mother_yes_enc)

[-0.06344     0.10973139  0.09104356 -0.10439586 -0.11043637  0.03218262
  0.03081489 -0.07110742  0.21078944 -0.07751957  0.12299612 -0.04365354
 -0.33245656  0.08304714 -0.08101717  0.15094215 -0.13416649 -0.20483406
 -0.14348298 -0.04208963  0.01889339  0.07757336 -0.02728844  0.03630553
 -0.19520672 -0.19167297 -0.01150398 -0.08945187  0.02858901 -0.13727175
  0.05239938  0.1068163  -0.14646825 -0.01366575  0.07130948  0.07943098
 -0.06284305 -0.16442312  0.17431933 -0.00685554 -0.22343867 -0.08430123
  0.03212051  0.27176657  0.18365173 -0.0042396   0.01607954 -0.10608511
  0.03997741 -0.33336017  0.00919017  0.13959008  0.03770019  0.06499775
 -0.00582915 -0.27714846  0.06100465  0.10689172 -0.22132522  0.09815109
  0.15186259 -0.15973404 -0.07667281 -0.0219701   0.14697747  0.02358247
 -0.14876983 -0.17819999  0.24208884 -0.15255159  0.03726785  0.13516521
 -0.09897598 -0.18225849 -0.0878783  -0.02991734  0.4212777   0.10620768
 -0.13963513 -0.01479589 -0.13383394  0.02344124 -0.03088243  0.06052086
  0.00809372 -0.1562621  -0.135682    0.03546663  0.23579754 -0.08193995
  0.02604664  0.21054688  0.02660987 -0.1630877  -0.04179136  0.05393369
 -0.16534826  0.10322678 -0.05842835 -0.01101979  0.03948987 -0.07320338
 -0.0116175   0.16347224 -0.13264653  0.20560873 -0.01222458 -0.03254226
  0.06662689 -0.08745354 -0.09200853 -0.08607705  0.25134364 -0.21065375
  0.13363017  0.19406857  0.07429592  0.09499465  0.03229312  0.13233556
  0.11249974  0.00420408 -0.264173   -0.08582221  0.0091771  -0.09773425
 -0.05395545  0.01293586]

In [40]:
# Test face distance, lower score is better
face_recognition.face_distance([image_mother_yes_enc, image_mother_no_enc], image_daughter_enc)

array([0.76462729, 0.77908897])

In [41]:
# Define data directory
data_dir = '/Users/b.saintot/face_recog/data/KinFaceW-I/images/mother-dau/'

In [42]:
mothers = []

for i in range(1, 128):
    if i in range(1, 10):
        i = '00' + str(i)
    elif i in range (10, 100):
        i = '0' + str(i)
    mother = face_recognition.load_image_file(data_dir+'md_{}_1.jpg'.format(i))
    mother_enc = face_recognition.face_encodings(mother) #[0]
    mothers.append(mother_enc)

In [43]:
daughters = []

for i in range(1, 128):
    if i in range(1, 10):
        i = '00' + str(i)
    elif i in range (10, 100):
        i = '0' + str(i)
    daughter = face_recognition.load_image_file(data_dir+'md_{}_2.jpg'.format(i))
    daughter_enc = face_recognition.face_encodings(daughter) #[0]
    daughters.append(daughter_enc)

In [44]:
print(len(mothers))
print(len(daughters))

127
127

In [45]:
import pandas as pd
import numpy as np

In [46]:
data = pd.DataFrame({'mothers': mothers,
                     'daughters': daughters})
data.head()

,mothers,daughters
0,"[[-0.0634399950504303, 0.10973139107227325, 0....","[[-0.1728745400905609, 0.07101988792419434, 0...."
1,"[[-0.15506553649902344, 0.093840092420578, 0.1...","[[-0.1468706727027893, 0.10332313179969788, 0...."
2,"[[-0.14343547821044922, 0.1219245195388794, 0....","[[-0.12371986359357834, 0.04625418409705162, 0..."
3,[],"[[-0.1541275531053543, 0.006262762472033501, -..."
4,"[[-0.12201421707868576, 0.04421868547797203, 0...","[[-0.1293794959783554, 0.04016623646020889, 0...."

In [47]:
for i in range(0, len(data)):
    if data['mothers'][i] == [] or data['daughters'][i] == []:
        data = data.drop(i)

data = data.reset_index(drop=True)

In [48]:
len(data)

112

In [49]:
data.head()

,mothers,daughters
0,"[[-0.0634399950504303, 0.10973139107227325, 0....","[[-0.1728745400905609, 0.07101988792419434, 0...."
1,"[[-0.15506553649902344, 0.093840092420578, 0.1...","[[-0.1468706727027893, 0.10332313179969788, 0...."
2,"[[-0.14343547821044922, 0.1219245195388794, 0....","[[-0.12371986359357834, 0.04625418409705162, 0..."
3,"[[-0.12201421707868576, 0.04421868547797203, 0...","[[-0.1293794959783554, 0.04016623646020889, 0...."
4,"[[-0.15837973356246948, 0.1014467105269432, 0....","[[-0.14213433861732483, 0.03305382281541824, 0..."

In [50]:
for i in range(0, len(data)):
    data['mothers'][i] = data['mothers'][i][0]
    data['daughters'][i] = data['daughters'][i][0]

In [51]:
data.head()

,mothers,daughters
0,"[-0.0634399950504303, 0.10973139107227325, 0.0...","[-0.1728745400905609, 0.07101988792419434, 0.0..."
1,"[-0.15506553649902344, 0.093840092420578, 0.10...","[-0.1468706727027893, 0.10332313179969788, 0.1..."
2,"[-0.14343547821044922, 0.1219245195388794, 0.0...","[-0.12371986359357834, 0.04625418409705162, 0...."
3,"[-0.12201421707868576, 0.04421868547797203, 0....","[-0.1293794959783554, 0.04016623646020889, 0.0..."
4,"[-0.15837973356246948, 0.1014467105269432, 0.0...","[-0.14213433861732483, 0.03305382281541824, 0...."

In [63]:
data['score_parent'] = 0.0
for i in range(0, len(data)):
    data['score_parent'][i] = face_recognition.face_distance([data['mothers'][i]], data['daughters'][i])
data.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,mothers,daughters,score_parent
0,"[-0.0634399950504303, 0.10973139107227325, 0.0...","[-0.1728745400905609, 0.07101988792419434, 0.0...",0.764627
1,"[-0.15506553649902344, 0.093840092420578, 0.10...","[-0.1468706727027893, 0.10332313179969788, 0.1...",0.561485
2,"[-0.14343547821044922, 0.1219245195388794, 0.0...","[-0.12371986359357834, 0.04625418409705162, 0....",0.822328
3,"[-0.12201421707868576, 0.04421868547797203, 0....","[-0.1293794959783554, 0.04016623646020889, 0.0...",0.282818
4,"[-0.15837973356246948, 0.1014467105269432, 0.0...","[-0.14213433861732483, 0.03305382281541824, 0....",0.582465

In [64]:
data.describe()

       score_parent
count    112.000000
mean       0.610472
std        0.113306
min        0.282818
25%        0.531516
50%        0.628269
75%        0.699454
max        0.846307

In [69]:
data['score_random'] = 0.0

for i in range(0, len(data)):
    rand = random.randint(0, len(data)-1)
    data['score_random'][i] = face_recognition.face_distance([data['mothers'][rand]], data['daughters'][i])
    
data.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,mothers,daughters,score_parent,score_random
0,"[-0.0634399950504303, 0.10973139107227325, 0.0...","[-0.1728745400905609, 0.07101988792419434, 0.0...",0.764627,0.760067
1,"[-0.15506553649902344, 0.093840092420578, 0.10...","[-0.1468706727027893, 0.10332313179969788, 0.1...",0.561485,0.867522
2,"[-0.14343547821044922, 0.1219245195388794, 0.0...","[-0.12371986359357834, 0.04625418409705162, 0....",0.822328,0.522633
3,"[-0.12201421707868576, 0.04421868547797203, 0....","[-0.1293794959783554, 0.04016623646020889, 0.0...",0.282818,0.557741
4,"[-0.15837973356246948, 0.1014467105269432, 0.0...","[-0.14213433861732483, 0.03305382281541824, 0....",0.582465,0.614641

In [70]:
data.describe()

       score_parent  score_random
count    112.000000    112.000000
mean       0.610472      0.752727
std        0.113306      0.117977
min        0.282818      0.423206
25%        0.531516      0.689572
50%        0.628269      0.768847
75%        0.699454      0.836841
max        0.846307      0.968774

In [80]:
data['min_score_all'] = 0.0

for i in range(0, len(data)):
    all_scores = face_recognition.face_distance(data['mothers'].tolist(), data['daughters'][i])
    data['min_score_all'][i] = min(all_scores)

data.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,mothers,daughters,score_parent,score_random,min_score_all
0,"[-0.0634399950504303, 0.10973139107227325, 0.0...","[-0.1728745400905609, 0.07101988792419434, 0.0...",0.764627,0.760067,0.592219
1,"[-0.15506553649902344, 0.093840092420578, 0.10...","[-0.1468706727027893, 0.10332313179969788, 0.1...",0.561485,0.867522,0.486458
2,"[-0.14343547821044922, 0.1219245195388794, 0.0...","[-0.12371986359357834, 0.04625418409705162, 0....",0.822328,0.522633,0.432301
3,"[-0.12201421707868576, 0.04421868547797203, 0....","[-0.1293794959783554, 0.04016623646020889, 0.0...",0.282818,0.557741,0.282818
4,"[-0.15837973356246948, 0.1014467105269432, 0.0...","[-0.14213433861732483, 0.03305382281541824, 0....",0.582465,0.614641,0.443620

In [103]:
estimated_accuracy = len(data[data['score_parent'] == data['min_score_all']]) / len(data)
print("Score: {0:.2%}".format(estimated_accuracy))

0.15178571428571427
Score: 15.18%